<style>
.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  padding: 3px;
  border-color: skyblue;
  border-style: solid;
  transform: translateY(40%);
}
</style>
<h1>User List</h1>
<ul style="font-size: 1.5em">
  <% @followers.each do |user| %>
    <li>
      <%= link_to user_path(user.username) do %>
        <% if user.avatar.attached? %>
          <%= image_tag user.avatar, width: "50", class: "avatar" %>
        <% else %>
          <%= image_tag 'default_profile.png' , width: "50", class: "avatar" %>
        <% end %>
        
        <%=  user.username %> - (<%= user.first_name %>, <%= user.last_name %>)
      <% end %>
    </li>
  <% end %>
</ul>

