<style>
.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  padding: 3px;
  border-color: skyblue;
  border-style: solid;
}
</style>
<h1 class="display-4 text-center mb-4">Followers</h1>

<% if @followers.present? %>
  <ul class="list-group list-group-flush" style="height: 100vh;">
    <% @followers.each do |user| %>
      <li class="list-group-item d-flex align-items-center">
        <%= link_to user_path(user.username), class: "d-flex align-items-center text-decoration-none text-dark w-100" do %>
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar, class: "avatar circle mr-3", width: "50", height: "50" %>
          <% else %>
            <%= image_tag 'default_profile.png', class: "avatar circle mr-3", width: "50", height: "50" %>
          <% end %>
          
          <div>
            <strong class="d-block"><%= user.username %></strong>
            <small class="text-muted"><%= user.first_name %>, <%= user.last_name %></small>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2 style="padding: 10rem; text-align: center; height: 100vh;"><%= @user.first_name %> has no followers.</h1>
<% end %>

