<ul style="font-size: 1.5rem">
  <li>Your account creation date: <span style="font-style: bold;"><%= @usercreated_at %></span></li>
  <br>
  <li>Your username: <span style="font-style: bold;"><%= @user.username %></span></li>
  <li>Your email: <span style="font-style: bold;"><%= @user.email %></span></li>
  <li>Your first name: <span style="font-style: bold;"><%= @user.first_name %></span></li>
  <li>Your last name: <span style="font-style: bold;"><%= @user.last_name %></span></li>
  <li>Your date of birth: <span style="font-style: bold;"><%= @user.date_of_birth %></span></li>
  <li>Your phone number: <span style="font-style: bold;"><%= @user.phone %></span></li>
  <li> Your country: <span style="font-style: bold;"><%= @user.country.name %></span></li>
  <li> Your Job Title: <span style="font-style: bold;"><%= @user.job_title %></span></li>
  <li>Your bio: <span style="font-style: bold;"><%= @user.bio %></span></li>
</ul>
