<style>
  .avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid skyblue;
    padding: 5px;
  }
</style>

<!-- Followers Link -->
<%= link_to followers_path(@user.username), class: "d-block mb-2" do %>
  <p>Followers Count: <%= @user.followers.count %></p>
<% end %>

<!-- Followings Link -->
<%= link_to followings_path(@user.username), class: "d-block mb-2" do %>
  <p>Followings Count: <%= @user.followings.count %></p>
<% end %>

<!-- Avatar Display -->
<div class="avatar-container" style="margin: 2rem;">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "avatar" %>
  <% else %>
    <%= image_tag 'default_profile.png', class: "avatar" %>
  <% end %>
</div>

<!-- Follow/Unfollow Button -->
<%= notice %>
<% if current_user && current_user.id != @user.id %>
  <% if current_user.following?(@user) %>
    <%= button_to 'Unfollow', unfollow_path(@user), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= button_to 'Follow', follow_path(@user), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>

<!-- User Details -->
<ul style="font-size: 1.5rem; list-style: none; padding: 0;">
  <li>
    <strong>Your account creation date:</strong> 
    <span><%= @user.created_at.strftime("%Y-%m-%d") %></span>
  </li>
  <li><strong>Your username:</strong> <%= @user.username %></li>
  <li><strong>Your email:</strong> <%= @user.email %></li>
  <li><strong>Your first name:</strong> <%= @user.first_name %></li>
  <li><strong>Your last name:</strong> <%= @user.last_name %></li>
  <li><strong>Your date of birth:</strong> <%= @user.date_of_birth %></li>
  <li><strong>Your phone number:</strong> <%= @user.phone %></li>
  <li><strong>Your country:</strong> <%= @user.country.name %></li>
  <li><strong>Your Job Title:</strong> <%= @user.job_title %></li>
  <li><strong>Your bio:</strong> <%= @user.bio %></li>
</ul>

<!-- User Posts -->
<ul style="margin-top: 2rem; padding: 0;">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <li style="margin-bottom: 1rem;">
        <%= link_to show_post_path(post), class: "post-link" do %>
          <p style="font-weight: bold; font-size: 1.2rem;"><%= post.title %></p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
