<!DOCTYPE html>
<html style="font-size: 16px;" lang="tr"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Registration</title>
    <%= stylesheet_link_tag 'Sayfa-1' %>

    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 7.0.3, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/brand.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Sayfa 1">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="tr"><header class="u-clearfix u-header u-palette-1-base u-header" id="sec-f21b"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
          <%= image_tag "brand.png", alt: "logo", class: "img-fluid", width: "80px", height: "100px" %>
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1.125rem; font-weight: 700;">
            <a class="u-button-style u-hamburger-link u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#svg-df10"></use></svg>
              <svg class="u-svg-content" version="1.1" id="svg-df10" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Ana-Sayfa.html" style="padding: 10px 30px;">Ana Sayfa</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Profil.html" style="padding: 10px 30px;">Profil</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="./" style="padding: 10px 30px;">Mesajlar</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="products/products.html" style="padding: 10px 30px;">Mağaza</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Ana-Sayfa.html">Ana Sayfa</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Profil.html">Profil</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Mesajlar</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="products/products.html">Mağaza</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-d55e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-743a" class="u-label">Username</label>
              <input type="text" placeholder="Username giriniz" id="name-743a" name="name" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group">
              <label for="email-743a" class="u-label">Email</label>
              <input type="email" placeholder="Geçerli bir e-posta adresi girin" id="email-743a" name="email" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-country u-form-group u-form-group-3">
              <label for="country-32a8" class="u-label">Ülke</label>
              <div class="u-form-select-wrapper">
                <select id="country-32a8" name="country" class="u-input u-input-rectangle">
                  <option value="United States">United States</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <%= form_with model: @user, url: sign_up_path, class: "signup-form" do |form| %>
              <%= render partial: "shared/form_errors", locals: { object: form.object } %>
              <div class="u-form-group u-form-name">
                      <%= form.label :name, "Username", class: "u-label" %>
                      <%= form.text_field :name, placeholder: "Kullanıcı Adı Giriniz", class: "u-input u-input-rectangle", required: true %>
                    </div>
              <div class="u-form-email u-form-group">
                      <%= form.label :email, "Email", class: "u-label" %>
                      <%= form.email_field :email, placeholder: "Geçerli bir e-posta adresi girin", class: "u-input u-input-rectangle", required: true %>
                    </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-4">
                    <%= form.label :first_name, "Adı", class: "u-label" %>
                    <%= form.text_field :first_name, placeholder: "Adınızı Girin", class: "u-input u-input-rectangle", required: true %>
                  </div>
              <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-5">
                  <%= form.label :last_name, "Soyadı", class: "u-label" %>
                  <%= form.text_field :last_name, placeholder: "Soyadınızı Girin", class: "u-input u-input-rectangle", required: true %>
                </div>
              <div class="u-form-date u-form-group u-form-group-6">
                      <%= form.label :dob, "Doğum Tarihiniz", class: "u-label" %>
                      <%= form.date_field :dob, placeholder: "AY/GÜN/YIL", class: "u-input u-input-rectangle", required: true %>
                    </div>
              <div class="u-form-country u-form-group u-form-group-3">
                      <%= form.label :country, "Ülke", class: "u-label" %>
                      <%= form.select :country, [["Türkiye", "Türkiye"]], {}, class: "u-input u-input-rectangle" %>
                    </div>
              <div class="u-form-email u-form-group u-form-group-7">
                      <%= form.label :password, "Şifre Giriniz", class: "u-label" %>
                      <%= form.password_field :password, placeholder: "Şifre", class: "u-input u-input-rectangle", required: true %>
                    </div>
              <div class="u-form-email u-form-group u-form-group-8">
                      <%= form.label :password_confirmation, "Şifrenizi Doğrulayın", class: "u-label" %>
                      <%= form.password_field :password_confirmation, placeholder: "Şifre Doğrulayın", class: "u-input u-input-rectangle", required: true %>
                    </div>
              <div class="u-align-center u-form-group u-form-submit">
                    <%= form.submit "Kayıt Ol", class: "u-btn u-btn-submit u-button-style" %>
                    </div>
            <% end %>
      <%= image_tag 'foto-register.jpg', class: 'u-image u-image-default u-image-1', alt: '', data: { image_width: '2560', image_height: '1600' } %>
      </div>
    </section>
    
    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>This site was created with the </span>
        <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
          <span>Nicepage</span>
        </a>
      </p>
    </section>
  
</body></html>
