<h1>Pages#home</h1>

<% if user_signed_in? %>
  <h3>Hello, <%= current_user.email %></br>
<% else %>
  <h3>Hello, Guest</h2>
<% end %>

<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <%= link_to "Change my password", change_password_path %>
  
  <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to logout?" } %>
<% else %>
  <%= link_to "Login", login_path %>
  </br>
  <%= link_to "Signup", sign_up_path %>
<% end %>
