<%# Home Page View - app/views/pages/home.html.erb %>
<%# This file is part of the Ruby on Rails project and is used to render the home page of the application. %>
<%# The home page includes both static and dynamic content. %>
<%# The dynamic content is displayed based on whether the user is signed in or not. %>
<%# Signed-in users see their personalized information, such as username, email, first name, last name, and date of birth. %>
<%# Guest users are greeted with a generic welcome message. %>
<%# Navigation links for "About" and "Contact" are also included. %>
<%# Inline CSS styles are applied to enhance the visual design of the page. %>
<%# The structure includes a heading, paragraph, unordered list, and conditionally rendered content. %>
<%# Below is the implementation of the Home Page View. %>
<h1>Home Page</h1>
<p style='font-style: italic;'>Edit in app/views/pages/home.html.erb</p>

<p style='color: green; font-weight: bold;'> <%= notice %> </p>

<ul style="padding: 0; text-align: center; list-style-type: none; font-size: 1.25rem; line-height: 1.75rem;">
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
</ul>

<% if user_signed_in? %>
  <h3>Hello, <span style="font-style: italic;"><%= current_user.first_name %> <%= current_user.last_name %></span></h3>
  <ul>
    <li>Your username: <span style="font-style: bold;"><%= current_user.username %></span></li>
    <li>Your email: <span style="font-style: bold;"><%= current_user.email %></span></li>
    <li>Your first name: <span style="font-style: bold;"><%= current_user.first_name %></span></li>
    <li>Your last name: <span style="font-style: bold;"><%= current_user.last_name %></span></li>
    <li>Your date of birth: <span style="font-style: bold;"><%= current_user.date_of_birth %></span></li>
  </ul>
<% else %>
  <br>Hello, Guest</h2>
<% end %>

<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Users", users_path %>
</br></br>

<% if user_signed_in? %>
  <%= link_to "Timeline", timeline_path %>
  </br></br>
  <%= link_to "My profile", account_path %>
  </br></br>
  <%= link_to "Edit My Profile", edit_profile_path %>
  </br></br>
  <%= link_to "Upload Post", upload_post_path %>
  </br></br>
  <%= link_to "Change my password", change_password_path %>
  </br></br>
  <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to logout?" } %>
<% else %>
  <%= link_to "Login", login_path %>
  </br>
  <%= link_to "Signup", sign_up_path %>
<% end %>
