<!DOCTYPE html>


<html lang="en">
<head>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Home</title>
</head>
<body>


    

    <!---------------------------MOdal Section  satrts------------------->
    <!-------------------------------MOdal Ends---------------------------->



    <!-------------------------------------------Start Grids layout for lg-xl-3 columns and (xs-lg 1 columns)--------------------------------->


    <div class="container">
        <div class="row">


            <!--------------------------left columns  start-->

            <div class="col-12 col-lg-3">

                <div class="left-column">


                    <div class="card card-left1 mb-4" >
                        <%= image_tag "photo-1455448972184-de647495d428.jpg", alt: "", class: "card-img-top img-fluid" %>

                        <div class="card-body text-center ">
                            
                            <% if current_user && current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, alt: "img", width: "120px", height: "120px", class: "rounded-circle mt-n5" %>
<% else %>
  <%= image_tag 'default_profile.png', alt: "Default Avatar", width: "60", class: "rounded-circle avatar" %>
<% end %>
                            <h5 class="card-title"><%= current_user.username %></h5>
                            <p class="card-text text-justify mb-2"><%= current_user.bio %></p>
                            <ul class="list-unstyled nav justify-content-center">
                            <div class="d-flex justify-content-around align-items-center py-3 bg-light border rounded">
                            <a href="<%= followers_path(@user.username) %>" class="text-dark text-decoration-none text-center">
                              <div>
                                <span class="d-block">Followers</span>
                                <strong class="display-6"><%= @user.followers.count %></strong>
                              </div>
                            </a>
                            <a href="<%= followings_path(@user.username) %>" class="text-dark text-decoration-none text-center">
                              <div>
                                <span class="d-block">Followings</span>
                                <strong class="display-6"><%= @user.followings.count %></strong>
                              </div>
                            </a>
                          </div>
                          
                             
                            </ul>

                        </div>


<style>
a.text-decoration-none:hover {
  color: #3097D1; /* Highlight color on hover */
  text-decoration: underline; /* Adds underline on hover */
}

div.d-flex > a {
  padding: 10px 20px; /* Adds padding to the clickable area */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

div.d-flex > a:hover {
  background-color: rgba(48, 151, 209, 0.1); /* Subtle background change on hover */
  border-radius: 8px; /* Adds rounded effect on hover */
}
</style>

                    </div>


                    <div class="card shadow-sm card-left2 mb-4">

                        <div class="card-body">

                        <h5 class="mb-3 card-title">
                        Hakkında 
                        <small>
                          <%= link_to "Edit", "/account/edit", class: "ml-1" %>
                        </small>
                      </h5>

                               

                                
                                <p class="card-text"> <i class="far fa-building mr-2"></i> <%= current_user.job_title %></p>
                            
                                <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> <%= current_user.country.name %></p>




                        </div>
                     




                    </div>








                   

                    





                </div>





            </div>








 <!--------------------------Ends Left columns-->





 <!---------------------------------------Middle columns  start---------------->



            
            <div class="col-12 col-lg-6" >


                <div class="middle-column">


                    <div class="card" >


                        <div class="card-header bg-transparent">
                            <form class="form-inline">


                                <div class="input-group w-100">
                                 <input type="text" name="message" id="message" placeholder="Mesaj" class="form-control form-control-md">

                                 <div class="input-group-append">
                                        <div class="input-group-text">
                                                <i class="fas fa-camera"></i>
                                            </div>


                                 </div>

                                </div>



                        
                                
                               
                            </form>

                        </div>



                        
                         

                           
   <div class="card-body">

    <div class="media">
        <%= image_tag "avatar-fat.jpg", alt: "img", width: "55px", height: "55px", class: "rounded-circle mr-3" %>


        <div class="media-body">
            <h5>Burak Kurt</h5>
            <p class="card-text text-justify">Kendi çekmiş olduğum resimleri sizinle paylaşmak istedim. Yorumlarınızı bekliyorum.</p>

           

            <div class="row no-gutters mb-3">
                <div class="col-6 p-1 text-center">

                        <%= image_tag "adventure-alps-clouds-2259810.jpg", alt: "", class: "img-fluid mb-2" %>

                        <%= image_tag "aerial-view-architectural-design-buildings-2228123.jpg", alt: "", class: "img-fluid" %>

            

                </div>

                <div class="col-6 p-1 text-center">

                        <%= image_tag "celebration-colored-smoke-dark-2297472.jpg", alt: "", class: "img-fluid mb-2" %>
                        <%= image_tag "bodybuilding-exercise-fitness-2294361.jpg", alt: "", class: "img-fluid" %>




            

                </div>


            </div>








        
            <div class="media mb-3">
            <% if current_user && current_user.avatar.attached? %>
            <%= image_tag current_user.avatar, alt: "img", width: "45px", height: "45px", class: "rounded-circle mt-n5" %>
          <% else %>
            <%= image_tag 'default_profile.png', alt: "Default Avatar", width: "60", class: "rounded-circle avatar" %>
          <% end %>

                    <div class="media-body">
                            <p class="card-text text-justify">Burak Kurt: Herkese verdiğini emeklerden dolayı çok teşekkür ediyorum. Nice beraber senelere...</p>

                    </div>


            </div>

            
            <div class="media">
                    
                    <div class="media-body">
                            <p class="card-text text-justify">Mark Otto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

                    </div>


            </div>

            
            



        </div>
        <small>5min</small>
        


    </div>


    



   </div>

                            
                             
 <hr>

<div class="card-body">

    <div class="media">
            <%= image_tag "avatar-fat.jpg", alt: "img", width: "55px", height: "55px", class: "rounded-circle mr-3" %>


        <div class="media-body">
                <h5>Jacob Thornton</h5>
                <p class="text-justify">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>



        </div>

        <small>14 min</small>

    </div>





</div>
<hr>

<div class="card-body">

    <div class="media">

            <%= image_tag "avatar-mdo.png", alt: "img", width: "60px", height: "60px", class: "rounded-circle mr-3" %>


            <div class="media-body">
                <h5>Mark Otto</h5>
                <p class="text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
             <a href="img/mid5.jpg" data-lightbox="id"><img src="img/mid5.jpg" alt="" class="img-fluid shadow-sm img-thumbnail">   </a>   

            </div>


            <small class="text-muted">10 min</small>



    </div>




</div>





                     
                           

 </div>









 </div>








  </div>






  






  <br> <br> <br><br> <br> <br>

<!------------------------Middle column Ends---------------->








<!---------------------------Statrs Right Columns----------------->


                
<div class="col-12 col-lg-3">


    <div class="right-column">

        <div class="card shadow-sm mb-4" >
            <div class="card-body">
                <h6 class="card-title">Sponsored</h6>
                <%= image_tag "right1.jpg", alt: "card-img", class: "card-img mb-3" %>

                <p class="card-text text-justify"> <span class="h6">It might be time to visit Iceland.</span> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice.  What are you waiting for?</p>
                <a href="#" class="btn btn-outline-info card-link btn-sm">Buy a ticket</a>


            </div>

        </div>


       
           
            


        </div>

       









    </div>

    
    

























            </div>





</div>




    























  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const profileAvatar = document.getElementById("profile-avatar");
      const dropdownMenu = document.getElementById("dropdown-menu");

      // Avatar'a tıklama ile menüyü göster/gizle
      profileAvatar.addEventListener("click", function (event) {
        event.stopPropagation(); // Menü kapanmasın diye tıklamayı engelle
        dropdownMenu.style.display =
          dropdownMenu.style.display === "block" ? "none" : "block"; // Menü göster/gizle
      });

      // Sayfanın herhangi bir yerine tıklanırsa menüyü kapat
      document.addEventListener("click", function () {
        dropdownMenu.style.display = "none"; // Menü kapanacak
      });
    });
  </script>









<!------------------------Light BOx OPtions------------->
<script>
        lightbox.option({
          
        })
    </script>



<!------------------------Light BOx OPtions------------->










<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
